:root {
  --purple-light: #ece4ff;
  --white: #ffffff;
}

.wrapper {
  background-color: var(--purple-light);
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box
}

.main {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 0.75rem;
  }
}
