:root {
  --purple: #6c50d1;
  --purple-light: #ece4ff;
  --purple-medium: #d2c2f7;
  --orange: #ff5900;
  --orange-light: #fff1dc;
  --gray-dark: #333333;
  --gray: #555;
  --gray-light: #f4f4f4;
  --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

body {
  background-color: transparent;
}
